<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finance2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Register"></activity>
        <activity android:name=".TentangAplikasi" />
        <activity android:name=".DaftarBelanja" />
        <activity android:name=".DetailNamaItem" />
        <activity android:name=".TambahDetailNamaItem" />
        <activity android:name=".DaftarBelanjaBaru" />
        <activity android:name=".AnggaranMingguan" />
        <activity android:name=".Anggaran" />
        <activity android:name=".FormAnggaranBaru" />
        <activity android:name=".Catatan" />
        <activity android:name=".KategoriPenghasilan" />
        <activity android:name=".KategoriPengeluaranFinansial" />
        <activity android:name=".KategoriKomunikasi" />
        <activity android:name=".KategoriGayaHidup" />
        <activity android:name=".KategoriTransportasi" />
        <activity android:name=".KategoriBelanja" />
        <activity android:name=".KategoriMakanMinum" />
        <activity android:name=".Kategori" />
        <activity android:name=".Kalkulator" />
        <activity android:name=".BerandaDompetNow" />
        <activity android:name=".BerandaAkun" />
        <activity android:name=".HalamanUtama" />
        <activity android:name=".Login" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>